@using Application.ViewModels.SeriesViewModel
@using Application.ViewModels.ProductionViewModel
@model List<Application.ViewModels.SeriesViewModel.SeriesViewModel>


<div class="container-fluid">

    <div class="d-flex justify-content-start mb-2">
        <form class="row g-3" asp-controller="Home" asp-action="Index">
            <div class="col-auto">
                <input type="text" class="form-control" id="Name" name="Name"
                    placeholder="Filter by name">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Filter by name</button>
            </div>
        </form>

        <form class="row g-3 ms-3" asp-controller="Home" asp-action="Index">
            <div class="col-auto">
                <select class="form-select" id="Id" name="Id" aria-label="Floating label select example">
                    
                    @foreach (ProductionViewModel production in ViewBag.Productions)
                    {
                        <option value="@production.Id">@production.Name</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Filter by production</button>
            </div>
        </form>

    </div>



    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        @foreach (Application.ViewModels.SeriesViewModel.SeriesViewModel item in Model)
                        {
                            <div class="col-4 mb-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="@item.ImagenUrl" class="card-img-top img-serie-size">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        <h5 class="card-text">Production: @item.ProductionName</h5>
                                       <h5 class="card-text">Genders:@item.PrimaryGender,@item.SecundaryGender</h5>
                                        <a class="btn btn-success float-end" asp-area="Home" asp-action="Details"
                                            asp-route-id="@item.Id">DETAILS</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
