@model List<Application.ViewModels.SeriesViewModel.SeriesViewModel>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 offset-10">
            <a class="btn btn-outline-primary float-end mb-3" asp-controller="Series" asp-action="Create">Add Serie</a>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        @foreach (Application.ViewModels.SeriesViewModel.SeriesViewModel item in Model)
                        {
                            <div class="col-4 mb-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="@item.ImagenUrl" class="card-img-top img-serie-size">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="card-text">Production: @item.ProductionName</p>
                                        <p class="card-text">Genders: @item.PrimaryGender, @item.SecundaryGender</p>
                                        <a href="#" class="btn btn-warning">UPDATE</a>
                                        <a asp-controller="Series" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">DELETE</a>

                                    </div>
                                </div>
                          </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
